.error {
  color: red;
}

.add__bar {
  background-color: #ffffff;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0px 0px 20px 3px rgb(103, 109, 128);
    margin-bottom: 20px;
}



.add__bar__header {
  background-color: #79bd9a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-control{
  width: 80%;
  margin: auto;
}

.add__bar__msg {
  padding-top: 75px;
}

.add__bar__btn {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-between;
}


@media (max-width: 375px) {
  .add__bar {
    width: 80%;
  }
  .add__bar__header h1 {
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
  .form-control {
    height: 30px;
  }
  .btn {
    font-size: 15px;
  }
  .add__bar__btn {
    width: 80%;
  }
  .add__bar__msg {
    font-size: 15px;
  }
  .add__bar__msg h1{
    font-size: 22px;
  }
}



@media (max-width: 425px) and (min-width: 375px) {
  .add__bar {
    width: 70%;
  }
  .add__bar__header h1 {
    font-size: 25px;
  }
  label {
    font-size: 15px;
  }
  .form-control {
    height: 30px;
  }
  .btn {
    font-size: 15px;
  }
  .add__bar__btn {
    width: 70%;
  }
  .add__bar__msg h1 {
    font-size: 25px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .add__bar {
    width: 70%;
  }
  .add__bar__header h1 {
    font-size: 27px;
  }
  label {
    font-size: 17px;
  }
  .form-control {
    height: 35px;
  }
  .btn {
    font-size: 17px;
  }
  .add__bar__btn {
    width: 75%;
  }
  .add__bar__msg h1 {
    font-size: 25px;
  }
}

@media (max-width: 1440px) and (min-width: 1024px) {
  .add__bar{
    margin-top: 135px;
  }
  .add__bar__msg h1{
    font-size: 30px;
  }
}

@media (min-width: 2560px) {
  .add__bar{
    margin-top: 150px;
  }
  .add__bar__msg {
    padding-top: 150px;
    font-size: 25px;
  }
  .add__bar__msg h1 {
    font-size: 50px;
  }
}
