<div id="app_add_bars">

  
  <form @submit.prevent="addBar" v-if="!submitted">
    <div class="add__bar">
      <div class="add__bar__header">
        <h1>{{ title }}</h1>

      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" class="form-control" name="name" type="text" placeholder="Name" v-validate="'required'"
          v-model="bar.name" />
        <span v-if="errors.has('name')" class="error">Champs "name" requis</span>
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input id="address" name="address" class="form-control" type="text" placeholder="Address" v-validate="'required'"
          v-model="bar.address" />
        <span v-if="errors.has('address')" class="error">Champs "address" requis</span>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" placeholder="Description" rows="2"
          v-validate="'required'" v-model="bar.description"></textarea>
        <span v-if="errors.has('description')" class="error">Champs "description" requis</span>
      </div>


      <div class="form-group">
        <label for="x">X:</label>
        <input id="x" type="number" placeholder="X" v-model="bar.x" step="0.000000000001" min="-999999999999" max="999999999999"
          class="form-control" />
      </div>

      <div class="form-group">
        <label for="y">Y:</label>
        <input id="y" type="number" placeholder="Y" v-model="bar.y" step="0.000000000001" min="-999999999999" max="999999999999"
          class="form-control" />
      </div>

      <div class="add__bar__btn">
          <p><input type="submit" value="Ajoutez" class="btn btn-primary" /></p>
          <p>
            <router-link v-bind:to="`/bars`" class="btn btn-danger">Retour</router-link>
          </p>
      </div>
      
      
    </div>
  </form>

  <div v-if="submitted" class="add__bar__msg">
    <h1>Ajout avec succès !</h1>
    <router-link v-bind:to="`/bars`">Retour</router-link>
  </div>



</div>