<template src="./AddBar.html"></template>

<script>
export default {
  name: "app_add_bars",
  data() {
    return {
      title: "Ajouter un bar",
      submitted: false,
      barsUrl: "http://localhost:3000/bars",
      bar: {
        id: "",
        name: "",
        address: "",
        description: "",
        x: "",
        y: ""
      }
    };
  },
  methods: {
    addBar() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios.post(this.barsUrl, this.bar).then(function(data) {});
          this.submitted = true;
        }
      });
    }
  }
};
</script>

<style src="./AddBar.scss"></style>

