<transition name="modal">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal__header">
                    <slot name="header">
                        <h3 slot="header">Suppression</h3>
                    </slot>
                </div>
                <div class="modal__body">
                    <slot name="body">
                        <div v-if="bar">
                            {{bar.id}} -- {{bar.name}}
                        </div>
                        <div v-else>
                            {{beer.id}} -- {{beer.name}}
                        </div>
                    </slot>
                </div>
                <div class="modal__footer">
                    <slot name="footer">
                        <button @click="onCancel" class="btn btn-danger">
                            Annuler
                        </button>
                        <button @click="onConfirm" class="btn btn-primary">Confirmer</button>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</transition>