<template src="./Modal.html"></template>

<script>
export default {
  name: "modal",
  props: {
    bar: Object,
    beer: Object
  },
  methods: {
    onConfirm() {
      this.$emit("confirm");
    },
    onCancel() {
      this.$emit("cancel");
    }
  }
};
</script>

<style src="./Modal.scss"></style>
