<template src="./DeleteMessage.html"></template>

<script>
export default {
  name: "app_succ_mess",
  data() {
    return {
      seconds: 5
    };
  },
  mounted: function() {
    this.$interval = setInterval(() => {
      this.seconds--;
    }, 1000);
  },
  destroyed: function() {
    clearInterval(this.$interval);
  }
};
</script>

<style src="./DeleteMessage.scss"></style>
