
.list {
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    z-index: 5;
    box-shadow: 0px 0px 15px 1px rgb(103, 109, 128);
    margin-bottom: 20px;
    color: #043131;
}

.list__header{
    background-color: #79bd9a;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list_line {
    display: flex;
    justify-content: space-between;
    background-color: #cff09e;
    color: #0e5f5f;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}


.list__border {
    border-bottom: 0.7mm solid #3b8686;
    width: 75%;
}

.list__btn{
  background-color: #dfd7d7;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.list__links {
    color: black;
}

.list__links:hover {
    color: #4b5f2d;
}

.list__deleted {
    padding-top: 75px;
}

@media (min-width: 2560px) {
    .list__deleted {
        padding-top: 150px;
        font-size: 25px;
    }
    .list__deleted h1 {
        font-size: 50px;
    }
}

@media (max-width: 2560px) and (min-width: 1440px) {
    .list {
        width: 65%;
        margin-top: 150px;
    }
    .list h1 {
        font-size: 40px;
    }
    .list li {
        font-size: 25px;
    }
    .list__links{
        font-size: 25px;
    }
}

@media (max-width: 1440px) {
    .list__deleted h1 {
        font-size: 30px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .list {
        width: 70%;
    }
    .list h1 {
        font-size: 30px;
    }
    .list li {
        font-size: 15px;
    }
    .list__links{
        font-size: 15px;
    }
}

@media (max-width: 768px) and (min-width: 425px) {
    .list {
        width: 75%;
    }
    .list h1 {
        font-size: 30px;
    }
    .list li {
        font-size: 15px;
    }
    .list__links{
        font-size: 15px;
    }
    .list__deleted h1 {
        font-size: 25px;
    }
}

@media (max-width: 425px) and (min-width: 375px) {
    .list {
        width: 75%;
    }
    .list h1 {
        font-size: 30px;
    }
    .list li {
        font-size: 15px;
    }
    .list__links{
        font-size: 15px;
    }
    .list__deleted h1 {
        font-size: 25px;
    }
}

@media (max-width: 375px)  and (min-width:320px) {
    .list {
        width: 82%;
    }
    .list h1 {
        font-size: 25px;
    }
    .list li {
        font-size: 12px;
    }
    .list__links{
        font-size: 12px;
    }
    .list__deleted {
        font-size: 15px
    }
    .list__deleted h1 {
        font-size: 22px;
    }
}

@media (max-width: 320px) {
    .list {
        width: 82%;
    }
    .list h1 {
        font-size: 22px;
    }
    .list li {
        font-size: 12px;
    }
    .list__links{
        font-size: 12px;
    }
    .list__deleted {
        font-size: 15px
    }
    .list__deleted h1 {
        font-size: 22px;
    }
}

