<div id="list">
  <div v-if="bars">
    <div v-if="!deleted">
      <div class="list">
        <div class="list__header">
          <h1>Liste des bars</h1>
        </div>
        <ul v-for="bar, i in bars" :key="bar.id">
          <div class="list_line">
            <li>Id du bar :</li>
            <li>{{ bar.id }}</li>
          </div>
          <div class="list_line">
            <li>Nom du bar :</li>
            <li>{{ bar.name }}</li>
          </div>
          <li>
            <router-link class="list__links" v-bind:to="`/bar/${bar.id}`">En savoir plus</router-link>
          </li>
          <li>
            <button class="deleteBtn" @click="confirmDeleteBar(bar, i)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </li>
          <modal v-if="showModal" :bar=selectedBar @confirm="deleteBar" @cancel="cancelDelete"></modal>
          <hr class="list__border" />
        </ul>
        <button class="list__btn">
          <router-link class="list__links" v-bind:to="`/add_bar`">Ajoutez un bar</router-link>
        </button>
      </div>
    </div>
    <div v-else class="list__deleted">
      <delete-message></delete-message>
    </div>
  </div>

  <div v-if="beers">
    <div v-if="!deleted">
      <div class="list">
        <div class="list__header">
          <h1>Liste des bières</h1>
        </div>
        <ul v-for="beer, i in beers" :key="beer.id">
          <div class="list_line">
            <li>Id de la bière :</li>
            <li>{{ beer.id }}</li>
          </div>
          <div class="list_line">
            <li>Nom de la bière :</li>
            <li>{{ beer.name }}</li>
          </div>
          <li>
            <router-link class="list__links" v-bind:to="`/beer/${beer.id}`">En savoir plus</router-link>
          </li>
          <li>
            <button class="deleteBtn" @click="confirmDeleteBeer(beer, i)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </li>
          <modal v-if="showModal" :beer=selectedBeer @confirm="deleteBeer" @cancel="cancelDelete"></modal>
          <hr class="list__border" />
        </ul>
        <button class="list__btn">
          <router-link class="list__links" v-bind:to="`/add_beer`">Ajoutez une bière</router-link>
        </button>
      </div>
    </div>

    <div v-else class="list__deleted">
      <delete-message></delete-message>
    </div>
  </div>
</div>