<template src='./List.html'></template>

<script>
import DeleteMessage from "../DeleteMessage/DeleteMessage.vue";
import Modal from "../Modal/Modal.vue";

export default {
  name: "list",
  components: { Modal, DeleteMessage },
  props: {
    bars: Array,
    beers: Array
  },
  data() {
    return {
      barsUrl: "http://localhost:3000/bars/",
      beersUrl: "http://localhost:3000/beers/",
      selectedBar: "",
      selectedBar_id_list: null,
      selectedBeer: "",
      selectedBeer_id_list: null,
      deleted: false,
      countdown: 5,
      errored: false,
      showModal: false
    };
  },
  methods: {
    confirmDeleteBar: function(bar, id_list) {
      this.showModal = true;
      this.selectedBar = bar;
      this.selectedBar_id_list = id_list;
    },
    confirmDeleteBeer: function(beer, id_list) {
      this.showModal = true;
      this.selectedBeer = beer;
      this.selectedBeer_id_list = id_list;
    },
    deleteBar: function() {
      this.showModal = false;
      this.deleted = true;

      axios
        .delete(this.barsUrl + this.selectedBar.id)
        .then(response => {
          this.bars.splice(this.selectedBar_id_list, 1);
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });

      this.$interval = setInterval(() => {
        this.countdown--;

        if (this.countdown === 0) {
          clearInterval(this.$interval);
          this.deleted = false;
          this.countdown = 5;
        }
      }, 1000);
    },
    cancelDelete: function() {
      this.showModal = false;
      this.selectedBar = null;
      this.selectedBeer = null;
      this.selectedBar_id_list = null;
      this.selectedBeer_id_list = null;
    },
    deleteBeer: function() {
      this.showModal = false;
      this.deleted = true;

      axios
        .delete(this.beersUrl + this.selectedBeer.id)
        .then(response => {
          this.beers.splice(this.selectedBeer_id_list, 1);
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });

      this.$interval = setInterval(() => {
        this.countdown--;

        if (this.countdown === 0) {
          clearInterval(this.$interval);
          this.deleted = false;
          this.countdown = 5;
        }
      }, 1000);
    }
  }
};
</script>

<style src="./List.scss"></style>

