<div id="app_update_bars">
  <form @submit.prevent="updateBar" v-if="!submitted">
    <div class="edit__bar">
      <div class="edit__bar__header">
        <h1>{{ title }}</h1>
      </div>

      <div class="form-group">
        <label>Name:</label>
        <input
          class="form-control"
          name="name"
          type="text"
          placeholder="Name"
          v-validate="'required'"
          v-model="bar.name"
        />
        <span v-if="errors.has('name')" class="error"
          >Champs "name" requis</span
        >
      </div>

      <div class="form-group">
        <label>Address:</label>
        <input
          class="form-control"
          name="address"
          type="text"
          placeholder="Address"
          v-validate="'required'"
          v-model="bar.address"
        />
        <span v-if="errors.has('address')" class="error"
          >Champs "address" requis</span
        >
      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea
          class="form-control"
          name="description"
          cols="20"
          rows="2"
          v-validate="'required'"
          v-model="bar.description"
        ></textarea>
        <span v-if="errors.has('description')" class="error"
          >Champs "description" requis</span
        >
      </div>

      <div class="form-group">
        <label>X:</label>
        <input
          class="form-control"
          type="number"
          placeholder="X"
          v-model="bar.x"
          step="0.000000000001"
          min="-999999999999"
          max="999999999999"
        />
      </div>

      <div class="form-group">
        <label>Y:</label>
        <input
          class="form-control"
          type="number"
          placeholder="Y"
          v-model="bar.y"
          step="0.000000000001"
          min="-999999999999"
          max="999999999999"
        />
      </div>

      <div class="edit__bar__btn">
        <router-link v-bind:to="`/bar/${bar.id}`" class="btn btn-danger"
          >Retour</router-link
        >
        <span
          v-if="errors.has('name') || errors.has('address') || errors.has('description')"
        >
          <input
            type="submit"
            value="Modifier"
            class="btn btn-primary"
            disabled
          />
        </span>
        <span v-else>
          <input type="submit" value="Modifier" class="btn btn-primary" />
        </span>
      </div>
    </div>
  </form>

  <div v-if="submitted" class="edit__bar__msg">
    <h1>Modification opérée !</h1>
    <router-link v-bind:to="`/bar/${bar.id}`">Retour</router-link>
  </div>
</div>
