<template src="./UpdateBar.html"></template>

<script>
export default {
  name: "app_update_bars",
  data() {
    return {
      title: "Modification du bar ",
      submitted: false,
      barUrl: "http://localhost:3000/bars/",
      bar: [],
      id: this.$route.params.id,
      errored: false,
      loading: false,
    };
  },
  mounted: function() {
    this.getBar()
  },
  methods: {
    getBar: function() {
      axios
        .get(this.barUrl + this.id)
        .then(response => {
          this.bar = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    updateBar() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios
            .put(this.barUrl + this.id, this.bar)
            .then(function(data) {});
          this.submitted = true;
        }
      });
    }
  }
};
</script>

<style src="./UpdateBar.scss"></style>


