<template src="./Leaflet.html"></template>

<script>
import Vue2Leaflet from "vue2-leaflet";
import { LatLng } from "leaflet";
var { LMap, LTileLayer, LMarker, LPopup } = Vue2Leaflet;

export default {
  name: "leaflet",
  components: { LMap, LTileLayer, LMarker, LPopup },
  props: {
    center: Array,
    name: String,
    address: String
  }
};
</script>

<style src="./Leaflet.scss"></style>


