<div id="leaflet" >
    <div class="map">

        <l-map :zoom="15" :center="center">
            <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
            <l-marker :lat-lng="center">
                <l-popup :content="name+', '+address"></l-popup>
            </l-marker>
        </l-map>
    </div>
</div>