.map {
  height: 350px;
  position: sticky;
  margin-bottom: 20px;
  z-index: 5;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgb(103, 109, 128);
}


@media (min-width: 1440px) and (max-width: 2560px) {
  .map {
    height: 500px;
  }
}

@media (min-width: 2560px){
  .map {
    height: 700px;
  }
}