.deleteBtn {
  all: unset;
  cursor: pointer;
}

.detail__beer__info {
  background-color: #caf092;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.detail__beer__header {
  background-color: #79bd9a;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.detail__beer {
  background-color: #ffffff;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  z-index: 5;
  box-shadow: 0px 0px 20px 3px rgb(103, 109, 128);
}

.saut__beer{
  margin-bottom: 40px;
}

.detail__beer__deleted {
  padding-top: 75px;
}

@media (max-width: 768px) {
  .detail__beer {
    width: 80%;
  }
  .detail__beer h1 {
    font-size: 25px;
  }
  .detail__beer li {
    font-size: 15px;
  }
  .detail__beer__deleted h3 {
    font-size: 20px;
  }
  .detail__beer__deleted p {
    font-size: 12px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .detail__beer {
    margin-top: 150px;
  }
  .detail__beer h1 {
    font-size: 50px;
  }
  .detail__beer li {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .detail__beer {
    margin-top: 190px;
  }
  .detail__beer__header h1 {
    font-size: 60px;
  }
  .detail__beer li {
    font-size: 30px;
  }
  .saut__beer {
    margin-bottom: 50px;
  }
  .detail__beer__info {
    margin-top: 30px;
  }
  .detail__beer__deleted {
    padding-top: 90px;
  }
  .detail__beer__deleted h3 {
    font-size: 50px;
  }
  .detail__beer__deleted p {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .modal-window {
    width: 10vh;
    min-width: 250px;
    font-size: 10px;
  }
  .modal-window button {
    font-size: 5px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .modal-window {
    width: 10vh;
    min-width: 300px;
    font-size: 15px;
  }
  .modal-window button {
    font-size: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .modal-window {
    min-width: 500px;
    font-size: 15px;
  }
  .modal-window button {
    font-size: 10px;
  }
}


@media (max-width: 1440px) and (min-width: 1024px) {
  .modal-window {
    min-width: 500px;
    font-size: 17px;
  }
  .modal-window button {
    font-size: 15px;
  }
}

@media (max-width: 2560px) and (min-width: 1440px) {
  .modal-window {
    min-width: 800px;
    font-size: 22px;
  }
  .modal-window button {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .modal-window {
    min-width: 1200px;
    font-size: 32px;
  }
  .modal-window button {
    font-size: 25px;
  }
}