<template src="./ShowBeer.html"></template>

<script>
import Modal from '../../Modal/Modal.vue';
import DeleteMessage from '../../DeleteMessage/DeleteMessage.vue';

export default {
  name: "app_show_beer",
  components: { Modal, DeleteMessage },
  data() {
    return {
      title: "Détail de la bière",
      beerUrl: "http://localhost:3000/beers/",
      beer: [],
      id: this.$route.params.id,
      deleted: false,
      confirmModal: false,
      selectedBeer: "",
      errored: false,
      loading: false
    };
  },
  mounted: function() {
    this.getBeer();
  },
  methods: {
    getBeer: function() {
      axios
        .get(this.beerUrl + this.id)
        .then(response => {
          this.beer = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    deleteBeer: function() {
      axios
        .delete(this.beerUrl + this.id)
        .then(response => {
          setTimeout(() => this.$router.push({ path: "/beers" }), 5000);
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });

      this.confirmModal = false;
      this.deleted = true;
    },
    confirmDelete: function(beer) {
      this.selectedBeer = beer;
      this.confirmModal = true;
    },
    cancelDelete: function() {
      this.confirmModal = false;
      this.selectedBeer = null;
    }
  },
};
</script>

<style src="./ShowBeer.scss"></style>