<div id="app_show_beer">
  <div v-if="!deleted">

    <div class="detail__beer">

      <div class="detail__beer__header">

        <h1>Bière n°{{beer.id}}</h1>
      </div>
      
      <ul>
        <li class="detail__beer__info">{{ beer.name }}</li>
  
        <li v-if="!beer.comment" class="detail__beer__info">Les commentaires n'ont pas été renseignés</li>
  
        <li v-else class="detail__beer__info">{{ beer.comment }}</li>
  
        <li class="detail__beer__info saut__beer">{{ beer.type }}</li>
        <li>
          <router-link v-bind:to="`/beer/${beer.id}/update`">
            <i class="fas fa-edit"></i>
          </router-link>
        </li>
        <li>
          <button class="deleteBtn" @click="confirmDelete(beer)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </li>
        <modal :beer="selectedBeer" v-if="confirmModal" @confirm="deleteBeer" @cancel="cancelDelete"></modal>
        <li>
          <router-link v-bind:to="`/beers`">
            <i class="fas fa-arrow-left"></i>
          </router-link>
        </li>
      </ul>
    </div>




  </div>
  <div v-else class="detail__beer__deleted">
    <delete-message></delete-message>
  </div>
</div>