<b-navbar toggleable="md" type="dark" class="menu">
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand to="/">Bars&Beers</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav class="ml-auto">
      <b-nav-item to="/bars">Bars</b-nav-item>
      <b-nav-item to="/beers">Beers</b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
