<div id="app_add_beers">
    <form @submit.prevent="addBeer" v-if="!submitted">
        <div class="add__beer">

        <div class="add__beer__header">
            <h1>{{ title }}</h1>
        </div>
        <div class="form-froup"> 
                <label for="name">Name:</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Name" v-validate="'required'" v-model="beer.name">
                <span v-if="errors.has('name')" class="error">Champs "name" requis</span>
        </div>

        <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" name="comment" rows="2" v-model="beer.comment"></textarea>
        </div>

        <div class="form-group">
                <label for="type">Type:</label>
                <input class="form-control" id="type" name="type" type="text" placeholder="Type" v-validate="'required'" v-model="beer.type">
                <span v-if="errors.has('type')" class="error">Champs "address" requis</span>
        </div>
        
        <div class="add__beer__btn"> 
            <p>
                <input type="submit" value="Ajoutez" class="btn btn-primary">
            </p>
            <p>
                <router-link v-bind:to="`/beers`" class="btn btn-danger">Retour</router-link>
            </p>
        </div>

    </div>
    </form>



    <div v-if="submitted" class="add__beer__msg">
        <h1>Ajout avec succès !</h1>
        <router-link v-bind:to="`/beers`">Retour</router-link>
    </div>
</div>