<template src="./AddBeer.html"></template>

<script>
export default {
  name: "app_add_beers",
  data() {
    return {
      title: "Ajouter une bière",
      submitted: false,
      beersUrl: "http://localhost:3000/beers",
      beer: {
        id: "",
        name: "",
        comment: "",
        type: ""
      }
    };
  },
  methods: {
    addBeer() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios.post(this.beersUrl, this.beer).then(function(data) {});
          this.submitted = true;
        }
      });
    }
  }
};
</script>

<style src="./AddBeer.scss"></style>

