<div id="app_show_bar">
  <div v-if="!deleted">

    <div class="detail__bar">

      <div class="detail">

        <div class="detail__header">

          <h1>Bar n°{{bar.id}}</h1>
        </div>

        <ul>
          <li class="detail__info">{{ bar.name }}</li>
          <li class="detail__info">{{ bar.address }}</li>
          <li class="detail__info saut">{{ bar.description }}</li>

            <li>
          <router-link v-bind:to="`/bar/${bar.id}/update`">
            <i class="fas fa-edit"></i>
          </router-link>
        </li>
        <li>
          <button class="deleteBtn" @click="confirmDelete(bar)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <modal :bar="selectedBar" v-if="confirmModal" @confirm="deleteBar" @cancel="cancelDelete"></modal>
        </li>
          <li>
            <router-link v-bind:to="`/bars`">
              <i class="fas fa-arrow-left"></i>
            </router-link>
          </li>
        </ul>
      </div>

      <div class="detail__map">

        <div v-if="validateCoordinates(bar) === false">
          <p>
            La localisation de ce bar n'a pas été renseignés lors de l'inscription
          </p>
        </div>

        <div v-else>
          <leaflet :name="bar.name" :address="bar.address" :center="center"></leaflet>
        </div>
      </div>


    </div>



  </div>
  <div v-if="deleted" class="detail__deleted">
    <delete-message></delete-message>
  </div>
</div>