<template src="./ShowBar.html"></template>

<script>
import Modal from "../../Modal/Modal.vue";
import DeleteMessage from "../../DeleteMessage/DeleteMessage.vue";
import Leaflet from "../../Leaflet/Leaflet.vue";

export default {
  name: "app_show_bar",
  components: { Modal, DeleteMessage, Leaflet },
  data() {
    return {
      title: "Détail du bar",
      barUrl: "http://localhost:3000/bars/",
      bar: [],
      id: this.$route.params.id,
      deleted: false,
      center: [0, 0],
      x: 0,
      y: 0,
      confirmModal: false,
      selectedBar: "",
      errored: false,
      loading: false
    };
  },
  mounted: function() {
    this.getBar();
  },
  methods: {
    getBar: function() {
      axios
        .get(this.barUrl + this.id)
        .then(response => {
          this.bar = response.data;

          this.x = Number(this.bar.x);
          this.y = Number(this.bar.y);
          this.center = [this.x, this.y];
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    deleteBar: function() {
      axios
        .delete(this.barUrl + this.id)
        .then(response => {
          setTimeout(() => this.$router.push({ path: "/bars" }), 5000);
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });

      this.confirmModal = false;
      this.deleted = true;
    },
    confirmDelete: function(bar) {
      this.selectedBar = bar;
      this.confirmModal = true;
    },
    cancelDelete: function() {
      this.confirmModal = false;
      this.selectedBar = null;
    },
    validateCoordinates: function(bar) {
      if (bar.x === "" || bar.y === "" || !bar.x || !bar.y) {
        return false;
      }
    }
  }
};
</script>

<style src="./ShowBar.scss"></style>