.deleteBtn {
  all: unset;
  cursor: pointer;
}

.detail__bar {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.detail {
  flex: 0 0 46%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgb(103, 109, 128);
}

.detail__info {
  background-color: #caf092;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
}

.saut {
  margin-bottom: 40px;
}

.detail__header {
  background-color: #79bd9a;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.detail__map {
  flex: 0 0 46%;
  position: sticky;
}

.detail__deleted {
  padding-top: 75px;
}

@media (max-width: 768px) {
  .detail__bar {
    flex-direction: column;
    justify-content: center;
  }
  .detail {
    margin-bottom: 20px;
  }
  .map {
    margin-bottom: 20px;
  }
  .detail__header h1 {
    font-size: 25px;
  }
  .detail__bar li {
    font-size: 15px;
  }
  .detail__deleted h3 {
    font-size: 20px;
  }
  .detail__deleted p {
    font-size: 12px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .detail__bar {
    margin-top: 150px;
  }
  .detail__header h1 {
    font-size: 50px;
  }
  .detail__bar li {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .detail__bar {
    margin-top: 190px;
  }
  .detail__header h1 {
    font-size: 60px;
  }
  .detail__bar li {
    font-size: 30px;
  }
  .saut {
    margin-bottom: 50px;
  }
  .detail__info {
    margin-top: 30px;
  }
  .detail__deleted {
    padding-top: 90px;
  }
  .detail__deleted h3 {
    font-size: 50px;
  }
  .detail__deleted p {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .modal-window {
    width: 10vh;
    min-width: 250px;
    font-size: 10px;
  }
  .modal-window button {
    font-size: 5px;
  }
}

@media (max-width: 768px) and (min-width: 425px) {
  .modal-window {
    width: 10vh;
    min-width: 300px;
    font-size: 15px;
  }
  .modal-window button {
    font-size: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .modal-window {
    min-width: 500px;
    font-size: 15px;
  }
  .modal-window button {
    font-size: 10px;
  }
}

@media (max-width: 1440px) and (min-width: 1024px) {
  .modal-window {
    min-width: 500px;
    font-size: 17px;
  }
  .modal-window button {
    font-size: 15px;
  }
}

@media (max-width: 2560px) and (min-width: 1440px) {
  .modal-window {
    min-width: 800px;
    font-size: 22px;
  }
  .modal-window button {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {
  .modal-window {
    min-width: 1200px;
    font-size: 32px;
  }
  .modal-window button {
    font-size: 25px;
  }
}
