<template src="./ListBeers.html"></template>

<script>
import List from '../../List/List.vue';

export default {
  name: "app_list_beers",
  components: { List },
  data() {
    return {
      beersUrl: "http://localhost:3000/beers/",
      beers: [],
      errored: false,
      loading: false,
    };
  },
   mounted () {
    axios
      .get(this.beersUrl)
      .then(response => {
        this.beers = response.data
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
};
</script>

<style src="./ListBeers.scss"></style>


