<div id="app_update_beers">
  <form @submit.prevent="updateBeer" v-if="!submitted">

    <div class="edit__beer">

      <div class="edit__beer__header">
        <h1>{{ title }}</h1>
      </div>

      <div class="form-group">
          <label>Name:</label>
          <input
          class="form-control"
            name="name"
            type="text"
            placeholder="Name"
            v-validate="'required'"
            v-model="beer.name"
          />
          <span v-if="errors.has('name')" class="error">Champs "name" requis</span>
      </div>

      <div class="form-group">
          <label>Comment:</label>
          <textarea
          class="form-control"
            name="comment"
            cols="20"
            rows="2"
            v-model="beer.comment"
          ></textarea>
      </div>

      <div class="form-group">
          <label>Type:</label>
          <input
          class="form-control"
            name="type"
            type="text"
            placeholder="Type"
            v-validate="'required'"
            v-model="beer.type"
          />
          <span v-if="errors.has('type')" class="error"
            >Champs "address" requis</span
          >
      </div>

      <div class="edit__beer__btn">
        <router-link v-bind:to="`/beer/${beer.id}`" class="btn btn-danger">Retour</router-link>
          <span v-if="errors.has('name') || errors.has('type')">
            <input type="submit" value="Modifier" class="btn btn-primary" disabled />
          </span>
          <span v-else>
            <input type="submit" value="Modifier" class="btn btn-primary" />
          </span>
      </div>
  </div>
  </form>

  <div v-if="submitted" class="edit__beer__msg">
    <h1>Modification opérée !</h1>
    <router-link v-bind:to="`/beer/${beer.id}`">Retour</router-link>
  </div>
</div>
