<template src="./UpdateBeer.html"></template>

<script>
export default {
  name: "app_update_beers",
  data() {
    return {
      title: "Modification d'une bière",
      submitted: false,
      beerUrl: "http://localhost:3000/beers/",
      beer: [],
      id: this.$route.params.id,
      errored: false,
      loading: false,
    };
  },
  created: function() {
    this.getBeer()
  },
  methods: {
    getBeer() {
       axios
        .get(this.beerUrl + this.id)
        .then(response => {
          this.beer = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    updateBeer() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios
            .put(this.beerUrl + this.id, this.beer)
            .then(function(data) {});
          this.submitted = true;
        }
      });
    }
  }
};
</script>

<style src="./UpdateBeer.scss"></style>


