<template src="./App.html"></template>

<script>
import NavBar from "../../components/NavBar/NavBar.vue";

export default {
  name: "app",
  components: { NavBar },
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  }
};
</script>

<style src="./App.scss"></style>