<div class="home">
    <div class="transparent">
        <h1>Bars&Beers</h1>
        <ul>
            <li>Pour tout savoir sur vos bars et bières !</li>
            <li>Nom, adresse, description</li>
            <li>Et map pour localisation des bars...</li>
        </ul>
    </div>
</div>