.home {
  padding: 100px 0;

  background-image: url("../../assets/bar-2209813_1920.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-repeat: no-repeat;
  background-size: auto;
  height: 1000px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
}

.transparent {
  background-color: rgba(224, 223, 215, 0.56);
  height: 240px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 2560px) {
  .home {
    height: 1500px;
  }
}

@media (max-width: 320px) {
  .transparent {
    width: 70%;
    font-size: 13px;
  }
  .transparent h1 {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 375px) {
  .transparent {
    width: 60%;
    font-size: 12px;
  }
  .transparent h1 {
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 425px) {
  .transparent {
    width: 70%;
    font-size: 14px;
  }
  .transparent h1 {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (min-width: 2560px) {
  .transparent {
    width: 60%;
    height: 500px;
    font-size: 40px;
  }
  .transparent h1 {
    font-size: 60px;
    font-weight: bold;
  }
  .home {
    display: flex;
    align-items: center;
  }
}
