<template src="./ListBars.html"></template>

<script>
import List from "../../List/List.vue";

export default {
  name: "app_list_bars",
  components: { List },
  data() {
    return {
      barsUrl: "http://localhost:3000/bars/",
      bars: [],
      errored: false,
      loading: false,
    };
  },
  mounted () {
    axios
      .get(this.barsUrl)
      .then(response => {
        this.bars = response.data
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
};
</script>

<style src="./ListBars.scss"></style>